<div style="display: flex; justify-content: center; align-items: center; margin-top: 7%;">
  <div style="border: 2px solid #ccc; border-radius: 10px; padding: 20px; width: fit-content; background-color: lightcyan;">
    <div style="text-align: center;">
        <h1>Number System Conversion</h1>
        <hr>
        <form class="example-form">
          <div style="display: flex; align-items: center; margin-bottom: 1px;">
            <h5 style="margin-right: 10px;">from</h5>
            <mat-radio-group aria-label="Select an option" style="display: flex; padding-right: 20px;">
              <mat-radio-button value="iBinary" style="margin-right: 15px; padding-right: 5px;" (click) = "FromMethod('Binary')">Binary</mat-radio-button>
              <mat-radio-button value="iOctal" style="margin-right: 15px;" (click) = "FromMethod('Octal')">Octal</mat-radio-button>
              <mat-radio-button value="iDecimal" style="margin-right: 15px;" (click) = "FromMethod('Decimal')">Decimal</mat-radio-button>
              <mat-radio-button value="iHexadecimal" (click) = "FromMethod('Hexadecimal')">Hex</mat-radio-button>
            </mat-radio-group>
          </div>
  
          <div style="display: flex; align-items: center; margin-bottom: 15px;">
            <h5 style="margin-right: 27px;">to</h5>
            <mat-radio-group aria-label="Select an option" style="display: flex;">
              <mat-radio-button value="iBinary" style="margin-right: 19px;" (click) = "ToMethod('Binary')">Binary</mat-radio-button>
              <mat-radio-button value="iOctal" style="margin-right: 15px;" (click) = "ToMethod('Octal')">Octal</mat-radio-button>
              <mat-radio-button value="iDecimal" style="margin-right: 15px;" (click) = "ToMethod('Decimal')">Decimal</mat-radio-button>
              <mat-radio-button value="iHexadecimal" (click) = "ToMethod('Hexadecimal')">Hex</mat-radio-button>
            </mat-radio-group>
          </div>

          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Enter the number</mat-label>
              <input matInput #sRet>
            </mat-form-field>
          </div>

          <div class="example-button-row">
            <button mat-flat-button color="primary" (click)="ConvertData(sRet.value)">Convert</button>
          </div>

          <h3 class="float-h3">Result: </h3>
          <h2 class="float-h3">{{ iRet }}</h2>
        
          <button mat-stroked-button style="margin-right: 5px; margin-top: 55px;">Copy <img src="assets/Copy.jpg"> </button>
          <button mat-stroked-button style="margin-right: 70px; margin-top: 55px;">Clear<img src="assets/Clear.jpg"></button>
          
        </form> 
    </div>
  </div>
</div>