<h1 style="text-align: center; color: red;">Demonstration of MEAN Stack Application</h1>

<br>

<div style="text-align: center;">
  <nav>
      <li><a routerLink = "/getbatches" routerLinkActive = "active">Read_Data</a></li>
      <li><a routerLink = "/insertdata" routerLinkActive = "active">Insert_Data</a></li>
      <li><a routerLink = "/updatedata" routerLinkActive = "active">Update_Data</a></li>
      <li><a routerLink = "/deletedata" routerLinkActive = "active">Delete_Data</a></li>
  </nav>
</div>

<br>

<router-outlet></router-outlet>